.problemLink {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.selectContainer {
    width: 200px;
}

.submitContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}

.copyAlert {
    position: absolute;
    top: 0;
    right: 0;
}